.Login {
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.circle {
    border-radius: 256px;
    padding: 16px;
    background-color: lightgray;
}

form {
    width: 100%;
    max-width: 480px;
}

input {
    margin: 0.5rem
}