.Register {
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.circle {
    box-sizing: border-box;
    border-radius: 256px;
    padding: 16px;
    background-color: lightgray;
}

form {
    width: 100%;
    max-width: 330px;
}

.form-group {
    margin: 1rem 0;
    width: 100%;
}

input.form-control {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

input.form-control.password1 {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input.form-control.password2 {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}